@font-face{
	font-family: "Big Noodle Titling Oblique";
	src: url('big_noodle_titling_oblique.ttf');
}
@font-face{
	font-family: "Big Noodle Titling";
	src: url('big_noodle_titling.ttf');
}

body {
	background: rgb(0,195,255); /* Old browsers */
	background: -moz-linear-gradient(top,  #827984 0%, #5A8184 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(51,0,0)), color-stop(100%,rgb(100, 116, 94))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(0,195,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #827984 0%,#5A8184 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #827984 0%,#5A8184 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00C3FF 50%, #FFFFFF); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#827984', endColorstr='#5A8184',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
	margin: 0;
  padding-bottom: 50px;

	font-family: Helvetica, Arial, sans-serif;
}

h1{
	font-family: "Big Noodle Titling Oblique";
	color: rgb(242,205,50);
	font-size: 9vw;
	padding-top: 5%;
	text-align: center;
}

#header{
	text-align: center;
}

#userForm {
	border:1px solid #333;
	background: rgb(75, 79, 82);
	padding: 3%;
	border-radius:5px;
	box-shadow: 2px 5px 5px #333;
	margin: 5% auto 5% auto;
	width:75%;
	padding: 3%;
}

.error_message{
	font-family: "Big Noodle Titling";
	color: red;
	font-size: 2vw;
}

input[type="text"] {
	display: inline-block;
	margin: 0 2%;
	padding: 3% 1%;
	width: 40%;
	border:1px solid #666;
	border-radius:5px;
	background: #fff;
	box-shadow: 2px 2px 0px #666;
  margin-bottom: 2vw;
	font-size: 2.25vw;
	text-align: center;
}

#vsText{
	margin: auto;
	text-align: center;
	vertical-align: middle;
	padding: 2%;
	width: 5%;
	font-family: "Big Noodle Titling Oblique";
	font-size: 3vw;
  color: rgb(242,205,50);
}

input[type="submit"]{
	display: inline;
  text-align: center;
	width: 10%;
	margin: 2%;
	border:1px solid #333;
	border-radius:5px;
	box-shadow: 2px 2px 0px #666;
  background-color: rgb(242,205,50);
	font-size: 2.25vw;
	font-family: "Big Noodle Titling";
	color:#000;
}

#routeButton {
	font-size: 2vw;
	background-color: rgb(243,191,60);
	border-color: rgb(243,191,60);
}

.dropbtn {
  background-color: rgb(243,191,60);
	border-color: rgb(243,191,60);
	padding: 12px 15px;
}

#battletag{
	font-size: 6vw;
	font-family: "Big Noodle Titling Oblique";
	color: rgb(242,205,50);

	margin: 2% auto;
	text-align: center;
}

#character_name{
	font-size: 4vw;
	font-family: "Big Noodle Titling Oblique";
	color: rgb(242,205,50);

	margin: 2% auto;
	text-align: center;
}

table{
	margin: 0 auto;
	text-align: center;
}

td{
	font-size: 2.5vw;
	font-family: "Big Noodle Titling";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 2.25vw;
	/*font-family: "Big Noodle Titling";*/
	/*font-family: 'Open Sans', sans-serif;*/
	/*padding: 2%;*/
	/*margin: auto;*/
	text-align: center;
	vertical-align: middle;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 32px;
	padding: 2%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 24px;
	padding: 2%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 24px;
	padding: 2%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
