<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Overwatch</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <script src="js/store.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  </head>

  <body ng-app="overwatch_project">

    <button id="checkScope">Scope</button>

    <form id="add_user" class="" action="#" method="post">
      <p id="error_message1" class="error_message"></p>
      <p id="error_message2" class="error_message"></p>
      <input id="inputUser1" type="text" placeholder="Battletag#1234">
      <span id="vsText"> vs </span>
      <input id="inputUser2" type="text" placeholder="Battletag#1234">
      <input type="submit" name="name" value="Search">
      Optional Character: <select id="characterSelect">
        <option>None</option>
        <option>Ana</option>
        <option>Bastion</option>
        <option>D.Va</option>
        <option>Genji</option>
        <option>Hanzo</option>
        <option>Junkrat</option>
        <option>Lucio</option>
        <option>McCree</option>
        <option>Mei</option>
        <option>Mercy</option>
        <option>Pharah</option>
        <option>Reaper</option>
        <option>Reinhardt</option>
        <option>Roadhog</option>
        <option>Soldier: 76</option>
        <option>Symmetra</option>
        <option>Torbjorn</option>
        <option>Tracer</option>
        <option>Widowmaker</option>
        <option>Winston</option>
        <option>Zarya</option>
        <option>Zenyatta</option>
      </select>
    </form>


      <div class="user_data"  ng-controller="UserController">

        <p ng-if="!user2.fullyLoaded && user1.fullyLoaded" id="battletag" class="gradient">{{user1.battletag}}</p>
        <p ng-if="user2.fullyLoaded && user1.fullyLoaded" id="battletag" class="gradient">{{user1.battletag}} vs {{user2.battletag}}</p>

        <table ng-if="user1.fullyLoaded">
          <tr ng-repeat="stat in a_avg_keys">
            <td ng-if="!user2.fullyLoaded">{{stat}}</td>
            <td>{{user1.average_stats[stat]}}</td>
            <td ng-if="user2.fullyLoaded">{{stat}}</td>
            <td ng-if="user2.fullyLoaded">{{user2.average_stats[stat]}}</td>
          </tr>
        </table>
        <br><br>
        <table ng-if="user1.fullyLoaded">
          <tr ng-repeat="stat in a_game_keys">
            <td ng-if="!user2.fullyLoaded">{{stat}}</td>
            <td>{{user1.game_stats[stat]}}</td>
            <td ng-if="user2.fullyLoaded">{{stat}}</td>
            <td ng-if="user2.fullyLoaded">{{user2.game_stats[stat]}}</td>
          </tr>
        </table>

    </div>

    <div class="character_data" ng-controller="CharacterController">

      <p ng-if="!character2.fullyLoaded && character1.fullyLoaded" id="battletag" class="gradient">{{character1.battletag}}</p>
      <p ng-if="character2.fullyLoaded && character1.fullyLoaded" id="battletag" class="gradient">{{character1.battletag}} vs {{character2.battletag}}</p>
      <p ng-if="character2.fullyLoaded && character1.fullyLoaded" id="battletag" class="gradient">{{character_name}}</p>

      <table ng-if="character1.fullyLoaded">
        <tr ng-repeat="stat in a_general_keys">
          <td ng-if="!character2.fullyLoaded">{{stat}}</td>
          <td>{{character1.general_stats[stat]}}</td>
          <td ng-if="character2.fullyLoaded">{{stat}}</td>
          <td ng-if="character2.fullyLoaded">{{character2.general_stats[stat]}}</td>
        </tr>
      </table>

    </div>

      <script src="js/lib/jquery-2.1.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="js/lib/underscore.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/models/user.js"></script>
      <script src="js/models/character.js"></script>
      <script src="js/controllers/user.controller.js"></script>
      <script src="js/controllers/character.controller.js"></script>

  </body>
</html>
