<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Overwatch</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <script src="js/store.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  </head>

  <body ng-app="overwatch_project"  ng-controller="CharacterController">

    <img id="logo" style="display: block; margin: auto; width: 50%; padding-top: 4%; padding-bottom: 1%;" src="css/overstatv3.png">

    <button id="scope_c">Ch Scope</button>
    <button id="scope_u">Us Scope</button>

    <form id="add_user" class="" action="#" method="post">
      <p id="error_message1" class="error_message"></p>
      <p id="error_message2" class="error_message"></p>
      <input id="inputUser1" type="text" placeholder="Battletag#1234">
      <span id="vsText"> vs </span>
      <input id="inputUser2" type="text" placeholder="Battletag#1234">
      <input type="submit" name="name" value="Search">
      <span id="opt">Optional Character: </span><select id="characterSelect">
        <option>None</option>
        <option>Ana</option>
        <option>Bastion</option>
        <option>D.Va</option>
        <option>Genji</option>
        <option>Hanzo</option>
        <option>Junkrat</option>
        <option>Lucio</option>
        <option>McCree</option>
        <option>Mei</option>
        <option>Mercy</option>
        <option>Pharah</option>
        <option>Reaper</option>
        <option>Reinhardt</option>
        <option>Roadhog</option>
        <option>Soldier: 76</option>
        <option>Symmetra</option>
        <option>Torbjorn</option>
        <option>Tracer</option>
        <option>Widowmaker</option>
        <option>Winston</option>
        <option>Zarya</option>
        <option>Zenyatta</option>
      </select>
    </form>
<br>
<span class="cross_controllers" id="void"></span>
      <div class="user_data" ng-controller="UserController">

        <p ng-if="!bothActive() && allready()" id="battletag" class="gradient">{{user.battletag}}</p>
        <p ng-if="bothActive() && allready()" id="battletag" class="gradient">{{user1.battletag}} vs {{user2.battletag}}</p>

        <table ng-if="allready()">
          <p ng-if="allready()" id="character_name" class="gradient"> Average Stats</p>
          <tr ng-repeat="stat in a_average_keys">
            <td ng-if="!bothActive()">{{removeUnderscore(stat)}}</td>
            <td ng-if="!bothActive()">{{user.average_stats[stat]}}</td>
            <td ng-if="bothActive()" ng-style="{'color': user1.average_stats[stat][1]}">{{user1.average_stats[stat][0]}}</td>
            <td ng-if="user2.fullyLoaded === 'Loaded'">{{removeUnderscore(stat)}}</td>
            <td ng-if="user2.fullyLoaded === 'Loaded'" ng-style="{'color': user2.average_stats[stat][1]}">{{user2.average_stats[stat][0]}}</td>
          </tr>
        </table>
        <br><br>
        <table ng-if="allready()">
          <p ng-if="allready()" id="character_name" class="gradient"> Game Stats</p>
          <tr ng-repeat="stat in a_game_keys">
            <td ng-if="!bothActive()">{{removeUnderscore(stat)}}</td>
            <td ng-if="!bothActive()">{{user.game_stats[stat]}}</td>
            <td ng-if="bothActive()" ng-style="{'color': user1.game_stats[stat][1]}">{{user1.game_stats[stat][0]}}</td>
            <td ng-if="user2.fullyLoaded === 'Loaded'">{{removeUnderscore(stat)}}</td>
            <td ng-if="user2.fullyLoaded === 'Loaded'" ng-style="{'color': user2.game_stats[stat][1]}">{{user2.game_stats[stat][0]}}</td>
          </tr>
        </table>

    </div>

    <div class="character_data" ng-controller="CharacterController">

      <p ng-if="!bothActive() && allready()" id="battletag" class="gradient">{{character.data.battletag}}</p>
      <p ng-if="bothActive() && allready()" id="battletag" class="gradient">{{character1.data.battletag}} vs {{character2.data.battletag}}</p>
      <p ng-if="allready()" ng-mouseover='consoleLog()' id="character_name" class="gradient">{{character_name}}</p>

      <video id="video" width="750" height="500" style="width: 100%; margin: 0 auto;" autoplay loop>
        <source src="css/CharacterVid/reinhardt.webm" type="video/webm">
      </video>

      <table ng-if="allready()">
        <p ng-if="allready()" id="character_name" class="gradient"> Character Stats</p>
        <tr ng-repeat="stat in a_general_keys">
          <td ng-if="!bothActive()">{{removeUnderscore(stat)}}</td>
          <td ng-if="!bothActive()">{{character.data.general_stats[stat]}}</td>
          <td ng-if="bothActive()" ng-style="{'color': character1.data.general_stats[stat][1]}">{{character1.data.general_stats[stat][0]}}</td>
          <td ng-if="character2.fullyLoaded === 'Loaded'">{{removeUnderscore(stat)}}</td>
          <td ng-if="character2.fullyLoaded === 'Loaded'" ng-style="{'color': character2.data.general_stats[stat][1]}">{{character2.data.general_stats[stat][0]}}</td>
        </tr>
      </table>

    </div>

      <script src="js/lib/jquery-2.1.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
      <script src="js/lib/underscore.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/models/user.js"></script>
      <script src="js/models/character.js"></script>
      <script src="js/controllers/user.controller.js"></script>
      <script src="js/controllers/character.controller.js"></script>

  </body>
</html>
